PG_HOST=localhost
PG_PORT=5433
PG_DB=shop_mvp
PG_USER=postgres
PG_PASSWORD=password 

CH_HOST=some_host
CH_PORT=some_port
CH_DB=db_name
CH_USER=default
CH_PASSWORD=passwd
CH_SECURE=True

DEFAULT_SEED=42
DEFAULT_SCALE=small